<style>
    /* Custom styles for the To-Do list quadrants */
    .quadrant {
        border: 1px solid #ccc;
        padding: 0px;
        margin: 0px;
        min-height: 100px;
    }

    /* You can customize the background colors based on your preference */
    .quadrant-i {
        background-color: #FF6347; /* LightCoral */
    }

    .quadrant-ii {
        background-color: #ADFF2F; /* GreenYellow */
    }

    .quadrant-iii {
        background-color: #87CEEB; /* SkyBlue */
    }

    .quadrant-iv {
        background-color: #FFD700; /* Gold */
    }

    .row {
        padding-right: 0px;
        padding-left: 0px;
    }
</style>
<title>To-Do List Quadrants</title>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="quadrant quadrant-i">
                    <h4>Quadrant I: Important / Urgent</h4>
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="quadrant quadrant-ii">
                    <h4>Quadrant II: Important / Not Urgent</h4>
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="quadrant quadrant-iii">
                    <h4>Quadrant III: Not Important / Urgent</h4>
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="quadrant quadrant-iv">
                    <h4>Quadrant IV: Not Important / Not Urgent</h4>
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>