@* @model //TODO: Get Model Name *@

@{
    ViewData["Title"] = "Task Form";
}

<div>
    
    
    <h2>Task Form</h2>
    @* todo: When the model and contoller are ready add an if statement for the title *@
    
    @* <form method="post"> *@
    @*     <div class="form-group"> *@
    @*         <label asp-for="TaskName">Task Name: </label> *@
    @*         <input asp-for="TaskName" class="form-control"/> *@
    @*     </div> *@
    @* </form> *@
</div>