@* @model //TODO: Get Model Name *@

@{
    ViewData["Title"] = "Task Form";
}

<div>
    
    
    <h2>Task Form</h2>
    @* todo: When the model and contoller are ready add an if statement for the title *@
    
    @* <form method="post"> *@
    @*     <input type="hidden" asp-for="TaskId"/> *@
    @*      *@
    @*     <div class="form-group"> *@
    @*         <label asp-for="TaskName">Task Name: </label> *@
    @*         <input asp-for="TaskName" class="form-control"/> *@
    @*         <label asp-for="DueDate">Due Date: </label> *@
    @*         <input asp-for="DueDate" class="form-control"/> *@
    @*         <label asp-for="Quadrant">Quadrant: </label> *@
    @*         <select asp-for="Quadrant" class="form-control"> *@
    @*             <option value="1">Quadrant 1</option> *@
    @*             <option value="2">Quadrant 2</option> *@
    @*             <option value="3">Quadrant 3</option> *@
    @*             <option value="4">Quadrant 4</option> *@
    @*         </select> *@
    @*         <label asp-for="Category">Category: </label> *@
    @*         <select asp-for="Category" class="form-control"> *@
    @*             <option value="Home">Home</option> *@
    @*             <option value="School">School</option> *@
    @*             <option value="Work">Work</option> *@
    @*             <option value="Church">Church</option> *@
    @*         </select> *@
    @* *@
    @*         <button type="submit" class="btn btn-outline-dark"> *@
    @*             @if (Model.TaskId == 0) *@
    @*             { *@
    @*                 <text>Add Task</text> *@
    @*             } *@
    @*             else *@
    @*             { *@
    @*                 <text>Save Changes</text> *@
    @*             } *@
    @*         </button> *@
    @*     </div> *@
    @* </form> *@
</div>