@using Microsoft.AspNetCore.Mvc.TagHelpers
@model TaskModel

@{
    ViewData["Title"] = "Task Form";
}

<div>
    
    
    <h2>Task Form</h2>
    @* TODO: When the model and contoller are ready add an if statement for the title *@
    
    <form method="post">
        <input type="hidden" asp-for="TaskId"/>
    
        <div class="form-group">
            <label asp-for="TaskDescription">Task Name: </label>
            <input asp-for="TaskDescription" class="form-control"/>
            <label asp-for="DueDate">Due Date: </label>
            <input asp-for="DueDate" class="form-control"/>
            <label asp-for="QuadrantId">Quadrant: </label>
            <select asp-for="QuadrantId" class="form-control">
                <option value="1">Quadrant 1</option>
                <option value="2">Quadrant 2</option>
                <option value="3">Quadrant 3</option>
                <option value="4">Quadrant 4</option>
            </select>
            <label asp-for="CategoryId">Category: </label>
            <select asp-for="CategoryId" class="form-control">
                @foreach (Category c in ViewBag.Categories)
                {
                    <option value="@c.CategoryId">@c.CategoryName</option>
                }
            </select>
    
            <button type="submit" class="btn btn-outline-dark my-3">
                Submit
                @* TODO: Implement if statement when controller is ready *@
                @* @if (Model.TaskId == 0) *@
                @* { *@
                @*     <text>Add Task</text> *@
                @* } *@
                @* else *@
                @* { *@
                @*     <text>Save Changes</text> *@
                @* } *@
            </button>
        </div>
    </form>
</div>